@charset "UTF-8";




.websiteTitle {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
    margin: 0px 0px;
    text-shadow: 5px 5px 2px gray;
}

.websiteDesc {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin: 5px 0px;
}


#outputArea{
    font-size: 30px;
    display: flex;
    width: 30%;
    height: 20%;
    resize: none;
}

#OutputTitle{
    padding: 5px;
    font-size: 30px;
    justify-content: end;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.OutputElements{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.convertBtns{
    
    display: flex !important;
    height: 20px;
    flex-wrap: nowrap;
    justify-content: center !important;
    gap: 10px;
    margin: 50px;
    box-sizing: border-box;
    display:inline-block;
}

.SPEC{
    padding: 2vh 4vw;
    font-size: 2vh;
    display: inline-block;
    line-height: 0px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 0.5px gray;
    background-color: crimson;
    color: azure;
}

.WRD{
    padding: 2vh 4vw;
    font-size: 2vh;
    display: inline-block;
    line-height: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: coral;
}

.QUANT{
    padding: 2vh 4vw;
    font-size: 2vh;
    display: inline-block;
    line-height: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkorange;
}

.inputQUANT{
    width: 40px;
    height: 30px;
}

.inputWRD{
    width: 40px;
    height: 30px;
}


body{
    background-color: antiquewhite;
}